<form [formGroup]="myForm" class="form" (submit)="save()">
  <mat-form-field appearance="standard">
    <mat-label>Country</mat-label>
    <input
      type="text"
      matInput
      formControlName="country"
      [matAutocomplete]="countryAutoComplete"
    />
    <mat-autocomplete
      #countryAutoComplete="matAutocomplete"
      class="custom-scroll"
    >
      <mat-option
        *ngFor="let country of countryOptions | async"
        [value]="country.name"
      >
        {{ country.name }}
      </mat-option>
    </mat-autocomplete>
    <!-- #enddocregion mat-autocomplete -->
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>State</mat-label>
    <input
      type="text"
      matInput
      formControlName="state"
      [matAutocomplete]="stateAutoComplete"
    />
    <!-- #docregion mat-autocomplete -->
    <mat-autocomplete
      #stateAutoComplete="matAutocomplete"
      class="custom-scroll"
    >
      <mat-option
        *ngFor="let state of stateOptions | async"
        [value]="state.name"
      >
        {{ state.name }}
      </mat-option>
    </mat-autocomplete>
    <!-- #enddocregion mat-autocomplete -->
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>City</mat-label>
    <input
      type="text"
      matInput
      formControlName="city"
      [matAutocomplete]="cityAutoComplete"
    />
    <!-- #docregion mat-autocomplete -->
    <mat-autocomplete #cityAutoComplete="matAutocomplete" class="custom-scroll">
      <mat-option *ngFor="let city of cityOptions | async" [value]="city.name">
        {{ city.name }}
      </mat-option>
    </mat-autocomplete>
    <!-- #enddocregion mat-autocomplete -->
  </mat-form-field>

  <button type="submit">Save</button>
</form>
